extends /_include/_layout
append variables
  - var directory ='/'
block css
block js

block body
  main
    h1.l-title 初音ミク「マジカルミライ 2020」プログラミング・コンテスト練習
    p.alert 音声が流れます
    .textWrap
      #text
        p.text

    .c-control#play
      button.c-control__button(aria-label="再生する")

    #media.c-media


