extends /_include/_layout
append variables
  - var directory ='/'
block css
block js

block body
  main
    h1.l-title 初音ミク「マジカルミライ 2020」プログラミング・コンテスト練習
    p.alert 音声が流れます

    #beat
      .beat-circle

    #media.c-media

    .textWrap
      #text
        p.text
          span.text-song-name
          span.text-inner

    #text-next

    .c-control#play
      button.c-control__button(aria-label="再生する")

