@use './foundation/_define' as *;

.c-beat {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .c-beat__circle {
    background: rgba(#000, .5);
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}
