@use './foundation/_define' as *;

.l-title {
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 1rem;
  font-weight: normal;
  color: #666;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at 50% 50%, #fffeec 0%, #c3e5e7 60%, #86cecb 80%, #39C5BB 90%, #137a7f 100%);

  [data-load="true"] & {
    background: radial-gradient(circle at 20% 50%, #fffeec 0%, #c3e5e7 30%, #86cecb 40%, #39C5BB 90%, #137a7f 100%);
  }
}
